$global-gradient: linear-gradient(60deg, #fc5c7d, #6a82fb);
$-webkit-global-gradient: -webkit-linear-gradient(60deg, #fc5c7d, #6a82fb);

ul {
    margin-bottom: 0;
}

body {
    background: $global-gradient;
}

.gradient-button {
    transition: border .15s ease-in-out;

    i {
        background: $global-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.hover:hover {
        border-bottom: 5px solid transparent;
        border-image: $global-gradient;
        border-image-slice: 1;
    }
}

.main-container .card-container,
.main-container .card-container-2,
.main-container .card-container-3 {

    .grid-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .sub-card {
            border-radius: 0.25rem;
            background: linear-gradient(25deg, #1e253b 30%, #495680);
        }
    }

    @include breakpoint(medium) {
        height: 100vh;
    }
}

.accordion-item.is-active .accordion-title {
    border-bottom: 1px solid map-get($foundation-palette, "dark-grey");
    
    &::after {
        transform: rotate(180deg);
    }
}

.accordion-title {
    text-transform: uppercase;
    margin-top: 1rem;

    &::after {
        content: "\f078";
        font-family: 'Font Awesome 5 Pro';
        float: right;
        transition: transform .25s ease-in-out;
    }
}

.accordion-content p {
    margin-bottom: 0;
    font-size: 0.9rem;
}

.verticle-menu {
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    ul {
        padding-left: 0.5rem;
        border-left: 0.5px solid $white;

        li {
            list-style-type: none;
            line-height: 1.5;
            
            a {
                color: $light-gray;
                text-transform: uppercase;
                font-size: 0.8rem;
                transition: color .2s ease-in-out;

                &.is-active, &:hover {
                    color: $medium-gray;
                }
            }
        }
    }

    @include breakpoint(large) {
        display: block;
    }
}

.card-container {
    height: 100vh;
    
    .sub-card-container {
        background-color: map-get($foundation-palette, "secondary");
        text-align: center;
        padding: 3rem 0;

        .grid-x {
            padding: 0 15%;
            text-align: center;
            max-height: 3rem;
        }

        #profile-picture {
            max-width: 20%;
            border-radius: 50%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 1rem;
        }

        i {
            color: $white;
        }

        h2 {
            margin-bottom: 1.5rem;
        }

        .icon-container {
            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 0.5rem 0;

                i {
                    font-size: 2rem;
                }
            }
        }
    }
}

.card-container-2 {
    height: 150vh;

    .sub-card-container-2 {
        background-color: map-get($foundation-palette, "secondary");
        padding: 1.5rem;

        p {
            margin: 0rem;
            text-align: left;
            margin-bottom: 1rem;

            a {
                font-weight: bold;
            }
        }

        .section-container:not(:last-child) {
            margin-bottom: 1rem;
        }

        .image-container {
            margin-bottom: 0.5rem;
        }

        .button {
            background: none;
            border: 2px solid transparent;
            border-radius: 0.25rem;
            border-image: $global-gradient;
            -webkit-border-image: $-webkit-global-gradient;
            border-image-slice: 1;
            margin-right: 0.5rem;
            transition: transform .2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        .gradient-button {
            &:first-child {
                margin-right: 0.5rem;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}

.card-container-3 {
    height: 200vh;

    .sub-card-container-3 {
        background-color: map-get($foundation-palette, "secondary");
        padding: 1.5rem;

        .sdt-container {
            text-align: center;

            h2, h3 {
                font-weight: normal;
            }

            img {
                margin: 1rem;
                max-height: 4rem;
            }

            i {
                font-size: 0.8rem;
            }
        }

        .progress-container {
            .text-container {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            i {
                font-size: 2rem;
                width: 2.2rem;
                margin: 0 1rem 1rem 0;
            }
    
            .progress {
                width: 75%;
            }
        }
    }
}